.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features-list__item {
  position: relative;
  order: 6;
  width: 260px;
  padding-top: 60px;
  margin-bottom: 23px;
}

.features-list__text {
  margin: 0;
  font-weight: bold;
}

.features-list__icon-flower,
.features-list__icon-money,
.features-list__icon-heart,
.features-list__icon-ball,
.features-list__icon-rocket,
.features-list__icon-gift {
  position: absolute;
  top: 24%;
  left: 8%;
  transform: translate(-50%, -50%);
  fill: #63d1bb;
}

@media (min-width: 768px) {
  .features-list {
    justify-content: none;
  }

  .features-list__item {
    width: 334px;
    margin-bottom: 50px;
  }

  .features-list__text {
    font-size: 20px;
    line-height: 22px;
  }

  .features-list__item--flower {
    order: 1;
  }

  .features-list__item--ball {
    order: 2;
  }

  .features-list__item--money {
    order: 3;
  }

  .features-list__item--rocket {
    order: 4;
  }

  .features-list__item--heart {
    order: 5;
  }
}

@media (min-width: 1150px) {
  .features-list {
    padding: 0 175px;
  }

  .features-list__item {
    width: 350px;
  }
}
