@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/opensans.woff2') format('woff2'),
    url('../../assets/fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../assets/fonts/opensansbold.woff2') format('woff2'),
    url('../../assets/fonts/opensansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
