body {
  min-width: 320px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: normal;
}

.container {
  padding: 0 30px;
  width: 260px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden,
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  font: inherit;
  font-size: 17px;
  box-sizing: border-box;
  padding: 15px 0 14px 0;
  width: 100%;
  color: #444444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
  border: solid 2px #444444;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    color: #7c7c7c;
  }
}

.zigzag {
  position: relative;
}

.zigzag::after {
  content: '';
  position: absolute;
  width: 320px;
  height: 6px;
  bottom: 0;
  left: 0;
  background-image: url('../../assets/img/bg-zigzag-line.svg');
  background-size: 320px 6px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 50px;
    width: 668px;
  }

  .zigzag::after {
    width: 768px;
    height: 15px;
    background-size: 768px 15px;
    background-position: 20px;
  }

  .button {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1050px;
  }

  .zigzag::after {
    width: 1050px;
    height: 23px;
    background-size: 1050px 23px;
    left: 50px;
  }

  .button {
    font-size: 18px;
  }
}
